:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
    --font-family: "Roboto", sans-serif;
}

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--slate);
    background-color: var(--white);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

a {
    text-decoration: none;
}

ul {
    padding:0;
    margin: 0;
    list-style-type:none;
    padding-inline-start: 0 ;
}

img{
    display: block;
}

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container{
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation{
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    padding: 16px 0;
    margin-right: 120px;
}

.logo-separation {
    color: var(--navy-blue);

}

.header-btn{
    padding:0 ;
    line-height: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.header-link{
    display: none;
}   

.contacts-list{
    display: none;
}

.menu-container{
    display: none;
}

@media screen and (max-width:768px){
    .header{
        box-shadow: none;
        margin: 0;
        padding: 0;
    }

    .menu-container{
    width: 100vw;
    height: 100vh;
    }

    .menu{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        padding:24px 24px 40px 16px;
        background-color: var(--white);
    }
   

    .menu-close-button{
        width: 24px;
        height: 24px;
        display: block;
        margin-left: auto;
        margin-bottom: 24px;
        position: relative;
        border-radius: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color:transparent;

    }
    
    .menu .close-icon{
        position: absolute;
        transform: translate(-50%, -50%);
        fill: var(--navy-blue);
    }

    .menu-link-list{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    .menu-link{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--navy-blue);
    }

    .menu-contacts{
        margin: 0 auto;
        margin-top: 168px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .menu-contacts .contact{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: var(--slate);
    }

        .menu-link:focus,
        .menu-contacts .contact:focus {
            color: var(--ocean);
        }

    .menu .social-media-list{
        margin-top: 48px;
        gap: 40px;
    }
        
    .is-open {
            display: block;
        }
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }

    .navigation-list{
        display: flex;
        gap: 40px;
    }

    .header-link{
        display: block;
        padding: 24px 0;
        font-weight: 500;
        position: relative;
        color: var(--navy-blue);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

    .header-link:hover,
    .header-link:focus,
    .contact:hover,
    .contact:focus {
        color: var(--ocean);
    }

    .current{
        color: var(--ocean);
        position: relative;
    }

    .current:after {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        bottom: -1px;
        position: absolute;
        left: 0;

        background-color: var(--ocean);
    }

    .address-header{
        display: block;
        margin-left: auto;
    }

    .contacts-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .contact {
        color: var(--slate);
        font-style: normal;
        font-size: 12px;
        margin-left: auto;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

    .header-btn {
        display: none;
    }
}

@media screen and (min-width:1158px) {
    .container{
        max-width:1158px;
        padding: 0 15px;
    }    

    .logo{
        margin-right: 76px;
    }

    .contacts-list{
        flex-direction: row;
        gap: 40px;
    }

    .contact{
        font-size: 16px;
    }
}

/**********************/
/*********HERO*********/
/**********************/

.hero {
    margin: 0 auto;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob.jpg);
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
}

.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    display: block;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    max-height: 160px;
    text-align: center;
    color: var(--white);
}

.hero-button{
    display: block;
    height: 56px;
    margin-top: 72px;
    border:none;
    border-radius: 4px;
    background-color: var(--iris);
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.hero-button:hover,
.hero-button:focus{
    background-color:var(--ocean);
}

.visually-hidden {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media screen and (min-width:768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tab.jpg);
    }
    
    .hero-title{
        font-size: 56px;
        line-height: 1.07em;
        max-width: 496px;
    }
    .hero-button{
        margin-top: 36px;
    }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tab-2x.jpg);;
    }
}

@media screen and (min-width:1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
        padding: 188px 0;
    }
    
        .hero-button{
            margin-top: 48px;
        }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi){
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office-2x.jpg);
    }
}


/*************************/
/*********QUALITY*********/
/*************************/

.quality{
    padding: 96px 0;
}

.wrap{
    display: flex;
}

.quality-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.quality-list-item{
    width: 100% ;
}

.icon-container {
    display: none;
}

.icon {
    margin: 0 auto;
    display: block;
}

.quality-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 8px;
    /* color: var(--dark-color);*/
}

@media screen and (min-width:768px) {
    .quality-list{
        row-gap: 72px;
        column-gap: 24px;
        margin: 0;
    }

    .quality-list-item {
            max-width: 356px;
        }

    .quality-paragraph{
        font-weight: 500;
    }
}

@media screen and (min-width:1158px) {
    .quality-list {
            gap: 24px;
        }
    
        .quality-list-item {
            max-width: 264px;
        }
    
    .quality-item-title{
        text-align: start;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
    }

        .quality-paragraph{
        font-weight: 400;
    }
        
    .icon-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: var(--light-color);
        margin-bottom: 8px;
        padding: 24px 100px;
        border: 1px solid var(--light-slate);
        border-radius: 4px;
        }
}

/**********************/
/********TEAM*********/
/**********************/

.team-title {
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
    padding-bottom: 72px;
}



.team .container{
    padding: 0 28px;
}

.team{
    background-color: var(--cloud);
    padding: 96px 0;
}

.team .section-title{
    margin-bottom: 72px;
}

.portfolio-paragraph{
    margin: 0;
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.team-member-card{
    background-color: var(--white-color);
    max-width: calc(100% + (28px * 2 ));
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.member-info{
    padding: 32px 16px;
    text-align: center;
}

.social-media-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-media{
    width: 40px;
    height: 40px;
}

.social-media-link{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--iris);
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus{
    background-color:var(--ocean);
}

.social-media-icon{
    fill: var(--cloud);
    margin: 0;
    padding: 0;
}

.member-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.member-position{
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: var(--slate);
    margin-bottom: 8px;
}

@media screen and (min-width:768px){
    .team-list{
        justify-content: center;
        row-gap:64px;
        column-gap: 24px;
    }
    
    .team-member-card{
        max-width: calc(100% - ((108px * 2) + 24px));
    }
}

@media screen and (min-width:1158px) {
    .team-list {
        flex-wrap: nowrap;

        justify-content: center;
        gap: 24px;
    }

    .team-member-card {
        max-width: calc(100% - ((156px * 2) + (24px * 3)));
    }
        
    .team .container {
        padding: 0;
    }
}

/***************************/
/*********PORTFOLIO*********/
/***************************/

.portfolio{
    padding-bottom: 96px;
}

.portfolio-title{
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-card{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image-container{
    position: relative;
    overflow: hidden;
}

.portfolio-images{
    max-width: 288px;
    max-height: 260px;
}

.portfolio-image-paragraph{
    display: none;
}


.application-info{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.application-info .section-item-title{
    margin-bottom: 8px
}

@media screen and (min-width:768px){
    .portfolio-list{
        justify-content: center;
        column-gap:24px;
        row-gap: 72px;
    }
    
    .portfolio-card{
        width: calc((100% - 24px)/2);
    }

    .portfolio-images{
        max-width: 356px;
        max-height: 300px;
    }
}

@media screen and (min-width:1158px) {
    .portfolio-list {
        margin: 0;
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-card{
        max-width: calc((100% - (24px * 2))/3);
    }

        .portfolio-images {
            max-width: 360px;
            object-fit: cover;
        }

    .portfolio-image-paragraph{
        display: block;
        position: absolute;
        top: 0;
        padding: 40px 32px;
        color: var(--cloud);
        height: 100%;
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        background-color: var(--iris);
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
         
    .portfolio-card:hover .portfolio-image-paragraph {
        transform: translateY(0%);
    }
}

/************************/
/*********FOOTER*********/
/************************/

.footer-info{
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--navy-blue);
    padding: 96px 0;
}

footer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text{
    display: flex;
    flex-direction: column;
}

footer .logo{
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 16px;    
}

footer .logo > .logo-separation{
    color: var(--cloud);
}

.footer-paragraph{
    max-width: 288px;
    font-weight: 400;
    color: var(--cloud);
}

.footer-social-media{
    display: flex;
    flex-direction: column;
}

.footer-social-text {
    color: var(--white);
    margin: 0 auto;
    font-weight: 500;
    margin-bottom: 16px;
}

.social-media-list{
    display: flex;
    gap: 16px;
}


footer .social-media-link:hover,
footer .social-media-link:focus{
    background-color: var(--green);
}

.newsletter-section{
    display: flex;
    flex-direction: column;
}

.newsletter-text{
    margin: 0 auto;
    color: var(--white);
    font-weight: 500;
    margin-bottom: 16px;
}

.newsletter-input{
    width: 288px;
    height: 40px;
    border: 1px solid var(--white);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);;
    border-radius: 4px;
    color: var(--cloud);
}

.newsletter-submit{
    margin: 0 auto;
    margin-top: 16px;
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 165px;
    height: 40px;
    background-color: var(--iris);
    border: none;
    cursor: pointer;
    color: var(--cloud);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.send-icon{
    margin-left: 16px;
    width: 24px;
    height: 24px;
    fill: var(--cloud);
}

@media screen and (min-width:768px){
    footer .container{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
    
    .footer-paragraph{
        max-width: 264px;
    }

    .newsletter-input{
        max-width: 264px;
    }

    footer .logo{
        margin: 0;
    }
    
    .footer-social-text{
        margin: 0;
        padding: 16px 0;
    }

    .newsletter-text{
        margin: 0;
        padding-bottom: 16px;
    }

    .newsletter-form {
        display: flex;
        gap: 24px;
    }   

    .newsletter-submit{
        margin: 0;
    }
}

@media screen and (min-width:1158px){
    footer .container{
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .footer-text{
        margin-right: 120px;
    }

    .footer-paragraph{
        max-width: none;
    }

    .newsletter-section{
            margin-left: 80px;
    }
}

/************************/
/*********MODAL*********/
/************************/

.modal-overlay{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: columnn;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--navy-blue-modal);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dairy);
    /* width: 288px; */
    height: 623px;
    padding: 72px 16px 16px 16px;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}

.is-open{
    opacity: 1;
    pointer-events: auto;
}

.close-button{
    position: absolute;
    display:flex;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-button:hover, 
.close-button:focus{
    background-color: var(--ocean);
    border: none;
}

.close-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus  .close-icon{
    fill: var(--white);
}

.modal-text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: var(--navy-blue);
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.input-wrap{
    margin-bottom: 8px;
}

.modal-label{
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    margin-bottom: 4px;
}

.complete-input{
    position: relative;
    margin-bottom: 8px;
}

.modal-input{
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    font: inherit;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 40px;
}

.modal-input:focus{
    border:1px solid var(--iris);
}

.input-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    fill: var(--navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(-50%);
}

.modal-input:focus +.input-icon{
    fill: var(--iris);
}

.textarea-wrap{
    margin-bottom: 16px;
}

.modal-textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    border: 1px solid var(--navy-blue-modal);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    border-radius: 4px;
}   

.modal-textarea:focus{
    border-color: var(--ocean);
}

.policy-container{
    width: 100%;
    display: flex;
    margin-top: 16px;
    margin-bottom: 24px;
}

.user-privacy-checkbox{
    display: block;
    width: 16px;
    height: 16px;
}

.label-policy{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
}

.policy{
    position: relative;
    fill: transparent;
    min-width: 16px;
    height: 16px;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checked{
    position: absolute;
    top: 4px;
    left: 3px;
}

.user-privacy-checkbox:checked + .label-policy .policy {
    background-color: var(--ocean);
    border: none;
}

.user-privacy-checkbox:checked+.label-policy .policy-checked {
    fill: var(--white);
    border: none;
}

.privacy-link{
    color: var(--iris);
    text-decoration: underline;
    text-decoration-skip-ink: none
}

.send-button{
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus{
    background-color: var(--iris);
}

@media screen and (min-width:768px) {
    .modal{
        width: 408px;
        height: 584px;
        padding: 72px 24px 24px 24px;
    }
}

@media screen and (min-width:1158px) {
    .modal {
        
        padding: 72px 24px 24px 24px;
    }
}